spring:
  profiles:
    active: local

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:usersdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080

external:
  dummy:
    base-url: https://dummyjson.com/users

security:
  jwt:
    expiration-ms: 3600000

resilience4j:
  retry:
    instances:
      dummyApiRetry:
        max-attempts: 3
        wait-duration: 2s
  circuitbreaker:
    instances:
      dummyApiCB:
        sliding-window-size: 5
        minimum-number-of-calls: 3
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s

logging:
  level:
    root: INFO
    com.example: DEBUG


---
spring:
  config:
    activate:
      on-profile: local
logging:
  level:
    com.example: DEBUG

---
spring:
  config:
    activate:
      on-profile: dev
logging:
  level:
    com.example: INFO

---
spring:
  config:
    activate:
      on-profile: test
logging:
  level:
    com.example: DEBUG

---
spring:
  config:
    activate:
      on-profile: prod
logging:
  level:
    com.example: WARN
